############################
# Python
############################
__pycache__/
*.py[cod]
*$py.class

############################
# Environnements virtuels
############################
.venv/
venv/
env/
ENV/
.python-version

############################
# Packaging & build
############################
build/
dist/
*.egg-info/
.eggs/
pip-wheel-metadata/

############################
# Tests
############################
.pytest_cache/
.coverage
.coverage.*
htmlcov/
.tox/
.nox/

############################
# Logs
############################
*.log

############################
# Environnements & secrets
############################
.env
*.env

############################
# IDE / éditeurs
############################
.vscode/
.idea/
*.iml

############################
# OS
############################
.DS_Store
Thumbs.db

############################
# Docker
############################
.dockerignore
**/.docker/**

############################
# Cache Streamlit (optionnel)
############################
.streamlit/